.piruza {
    padding: 100px 0;
    background: var(--header-color);


    .piruza-content {
        display: flex;
        align-items: center;
        gap: 64px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 32px;
        }
    }

    &-image__wrapper {
        flex: 0 0 40%;
        border-radius: 10px;
        overflow: hidden;

        @media (max-width: 768px) {
            border-radius: 5px;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;

            @media (max-width: 768px) {
                border-radius: 5px;
            }
        }

    }

    &-text__wrapper {
        flex: 1;

        h2 {
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 16px;
            color: #333;

            @media all and (max-width: 440px) {
                font-size: 24px;
            }
        }

        p {
            font-size: 20px;
            line-height: 1.6;
            color: #333;
            margin-bottom: 16px;
        }
    }

    &-description {
        font-size: 20px !important;
        color: #333;
    }

    &-features {
        list-style: none;
        padding: 0;
        margin-top: 24px;

        li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 8px;
            font-size: 18px;
            color: #333;

            &::before {
                content: "•";
                position: absolute;
                left: 0;
                color: #a86a3d; // тёплый акцент
                font-size: 20px;
                line-height: 1;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .piruza {
        &-text__wrapper {
            flex: 1;

            h2 {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 16px;
            }

            p {
                font-size: 16px !important;
                line-height: 1.6;
                color: #333;
                margin-bottom: 16px;
            }
        }

        &-features {
            list-style: none;
            padding: 0;
            margin-top: 24px;

            li {
                position: relative;
                padding-left: 20px;
                margin-bottom: 8px;
                font-size: 16px;
                color: #333;

                &::before {
                    content: "•";
                    position: absolute;
                    left: 0;
                    color: #a86a3d; // тёплый акцент
                    font-size: 20px;
                    line-height: 1;
                }
            }
        }
    }


}