footer {
    background: var(--footer-color);
    padding: 60px 0 0 0;


    .footer-content.row {
        align-items: start;
        gap: 30px;
        border-bottom: 2px solid #8b6f6371;
        padding-bottom: 40px;

        .footer-item {
            .footer-logo {
                margin-bottom: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                margin-bottom: 50px;
            }


            .footer__logo-bottom__descr {
                color: #333;
                font-size: 18px;
                font-weight: 400;
            }

            .footer__logo-bottom__descr-heart {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
            }

            h3 {
                font-size: 19px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0%;
                margin-bottom: 40px;
            }

            p {
                font-size: 17px;
                color: #333;
                font-weight: 400;
            }

            .footer-item__info-content {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .footer-item__info__image-wrapper {
                    background: rgba(255, 255, 255, 1);
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center !important;





                }
            }

            .footer-item__info {
                display: flex;
                flex-direction: column;
                gap: 20px;

                a {
                    color: #333;
                    transition: all 0.3s;

                    &:hover {
                        color: #8b6f63;
                    }
                }
            }

        }
    }

    .footer-bottom {
        padding: 30px 0;

        p {
            text-align: center;
            font-size: 16px;
            color: #8b6f63;
        }
    }




}



@media all and (max-width: 1200px) {
    footer {
        .footer-content.row {
            gap: 25px;
        }
    }
}

@media all and (max-width: 992px) {
    footer {
        .footer-content.row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px 30px;

            .footer-item {
                &:first-child {
                    grid-column: 1 / -1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 40px;

                    .footer-logo {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    footer {
        padding: 50px 0 0 0;

        .footer-content.row {
            flex-direction: column;
            align-items: center;
            gap: 50px;

            .footer-item {
                &:first-child {
                    flex-direction: column;
                    text-align: center;
                    gap: 30px;

                    .footer-logo {
                        justify-content: center;
                        flex-direction: column;
                    }

                    .footer__logo-bottom__descr-heart {
                        justify-content: center;
                    }
                }

                h3 {
                    margin-bottom: 25px;
                    font-size: 18px;
                }

                p,
                a {
                    font-size: 16px;
                }
            }
        }

        .footer-bottom {
            padding: 25px 0;

            p {
                font-size: 15px;
            }
        }
    }
}

@media all and (max-width: 576px) {
    footer {
        .footer-content.row {
            grid-template-columns: 1fr;
            gap: 30px;
            padding-bottom: 30px;

            .footer-item {
                &:first-child {
                    grid-column: 1 / -1;
                }

                text-align: center;

                .footer-item__info-content {
                    justify-content: center;
                }

                .footer-item__info {
                    align-items: center;
                }

                h3 {
                    font-size: 17px;
                    margin-bottom: 20px;
                }

                .footer-logo {
                    margin-bottom: 30px;
                    flex-direction: column;
                }
            }
        }
    }
}

@media all and (max-width: 480px) {
    footer {
        padding: 40px 0 0 0;

        .footer-content.row {
            gap: 25px;

            .footer-item {

                p,
                a {
                    font-size: 15px;
                }

                .footer__logo-bottom__descr,
                .footer__logo-bottom__descr-heart p {
                    font-size: 16px;
                }
            }
        }

        .footer-bottom {
            padding: 20px 0;

            p {
                font-size: 14px;
                padding: 0 10px;
            }
        }
    }
}

@media all and (max-width: 375px) {
    footer {
        .footer-content.row {
            .footer-item {
                h3 {
                    font-size: 16px;
                }

                .footer__logo-bottom__descr,
                .footer__logo-bottom__descr-heart p {
                    font-size: 15px;
                }

                .footer-item__info-content {
                    .footer-item__info__image-wrapper {
                        width: 35px;
                        height: 35px;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}